@using Bakery.Models;

<p>Add a new Vendor.</p>

<form action="/vendor" method="post">
  <label for="vendorName">Vendor name</label>
  <input id="vendorName" name="vendorName" type="text">
  <label for="vendorDesc">Add a description for vendor.</label>
  <input id="vendorDesc" name="vendorDesc" type="text">
  <button type="submit">Submit.</button>
</form>

<p><a href="/">Home.</a></p>
<p><a href="/vendor">Back to vendor list.</a></p>