@using Bakery.Models;

<h1>Vendor, @Model["vendor"].Name</h3>

<h2>Order Details.</h1>


<h3>@Model["order"].orderDesc</h2>
<ul>
<li>@Model["order"].orderDesc</li>
<li>$@Model["order"].price</li>
<li>Due. @Model["order"].orderDate</li>
</ul>


<a href='/vendor/@Model["vendor"].Id/order/new'>Add another order.</a>
<a href='/vendor'>View all vendors.</a>